body{
	width:100%;
	padding:10px;
}

.ipod{
	box-shadow: -2px 6px 21px rgba(64, 43, 43, 0.7);
	text-align: center;
	padding:20px 12px 10px 12px;
	margin:70px auto 0;
	background: #14132b;
	border-radius: 10px;
	width:300px;
}
.screen{
	background: #482b2b;
	margin-top:10px;
	padding-top: 8px;
	border-radius: 20px;

}
.dropdown-menu li{
	color:black;
	padding:5px;
}
.results{
	margin:0px auto;
	width:80%;
}
img{
	width:100px;
	height:100px;
	margin-bottom: 10px;
}
.btn-group{
/*	position: absolute;
	top:250px;
	left: 35%;*/
}
.title{
    color: #66d251;
}
.track-listing{
	color:white;
}
.link{
	background: none;
	border:none;
	color:blue;
}
.modal{
	width:50%;
	margin: 50px auto;
}

iframe{
margin-left: -1000px;
}
