@import url(https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Cuprum);
html {
  position: relative;
  min-height: 100%;
}
body {
  width: 100%;
  margin-bottom:60px;
  font-family: 'Cuprum', sans-serif;
  padding:0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.warning{
  color:red;
  height:50px;
}
.data{
  background:#c5f9e0;
  opacity: 0.7;
  width:50%;
  margin:50px auto;
}
.title{
  color:#251adc;
}
.display {
  font-family: "anton",serif;
  cursor:pointer;
  color:#081fb1;

}

.condition {
  font-family: 'Bree Serif', serif;
  text-transform: capitalize;
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  height:60px;
  width: 100%;
  background: #cadbd8;
  opacity: 0.8;
}
.footer p{
  margin:0;
  padding: 0;
  font-size:1em;
}
@media screen and (max-width: 700px){
  .data{
    width: 95%;
  }
  .data, .footer{
    font-size:.9em;
  }
}
